## Intro to Programming

### Topic 1 : Arithmetic and Variables

In [1]:
print('i am learning python')

i am learning python

In [2]:
print(1 + 2)

3

In [3]:
print(2**2)

4

In [4]:
var = 4 + 5
print(var)

9

In [ ]:
# conditions for variable names
## They can't have spaces (e.g., test var is not allowed)
## They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
## They have to start with a letter or underscore (e.g., 1_var is not allowed)
## to create the variable, use = to assign the value that you want it to have

### Topic 2 : Functions

In [5]:
# The add_three() function below accepts any number, adds three to it, and then returns the result.

In [8]:
# method 1 
def add_three(a):
    a = a + 3
    print(a)

In [9]:
add_three(3)

6

In [15]:
# method 2
def three_add(input_var):
    output_var = input_var + 3
    return output_var
#return keyword tells that we are exiting the function

In [16]:
three_add(4)

7

In [17]:
# a function can have no argument or many argument

#### Question 1

You are helping a friend to calculate their weekly paycheck after taxes.

- They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and 
- They're paid hourly, at a rate of $15/hour.

The function below calculates the paycheck based on the number of hours worked.

The function has a single argument (num hours). In the function body, we:

- Use the value for num_hours to specify the value for a new variable 'pay_pretax'.
- Use the value of pay_pretax to specify the value for a new variable 'pay_aftertax'.
- Return the value of the pay_aftertax variable.

In [18]:
def pay(num_hours):
    hourly_pay = 15
    pay_pretax = num_hours * hourly_pay
    pay_aftertax = pay_pretax * (88/100)
    return pay_aftertax

In [19]:
pay(40)

528.0

#### Functions with multiple arguments

#### Question 2

get_pay_with_more_inputs() function, which calculates a weekly paycheck based on three arguments:

- num_hours - number of hours worked in one week
- hourly_wage - the hourly wage (in $/hour)
- tax_bracket - percentage of your salary that is removed for taxes

In [20]:
def get_pay_with_more_inputs(num_hours,hourly_wage,tax_bracket):
    pay_pretax = num_hours * hourly_wage
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [21]:
get_pay_with_more_inputs(40,24,0.22)

748.8000000000001

#### Function with no argument

it's possible to define function with no arguments, and that don't have a return statement.

In [24]:
def print_hello():
    print("hello")
    print('good morning')

In [25]:
print_hello()

hello
good morning

#### Question 3

In the [House Prices - Advanced Regression Techniques competition](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview), you need to use information like the number of bedrooms and bathrooms to predict the price of a house.  Inspired by this competition, you'll write your own function to do this.

In the next code cell, create a function `get_expected_cost()` that has two arguments:
- `beds` - number of bedrooms 
- `baths` - number of bathrooms

It should return the expected cost of a house with that number of bedrooms and bathrooms.  Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms is `80000`.  
- each bedroom adds `30000` to the expected cost
- each bathroom adds `10000` to the expected cost.

For instance, 
- a house with 1 bedroom and 1 bathroom has an expected cost of `120000`, and 
- a house with 2 bedrooms and 1 bathroom has an expected cost of `150000`.

In [28]:
def get_expected_cost(beds,baths):
    value = 80000 + (30000 * beds) + (10000 * baths)
    return value

In [29]:
get_expected_cost(1,1)

120000

#### Question 4

You're a home decorator, and you'd like to use Python to streamline some of your work.  Specifically, you're creating a tool that you intend to use to calculate the cost of painting a room.

As a first step, define a function `get_cost()` that takes as input:
- `sqft_walls` = total square feet of walls to be painted
- `sqft_ceiling` = square feet of ceiling to be painted
- `sqft_per_gallon` = number of square feet that you can cover with one gallon of paint
- `cost_per_gallon` = cost (in dollars) of one gallon of paint

It should return the cost (in dollars) of putting one coat of paint on all walls and the ceiling.  Assume you can buy the exact amount of paint that you need, so you can buy partial gallons (e.g., if you need 7.523 gallons, you can buy that exact amount, instead of needing to buy 8 gallons and waste some paint).  Do not round your answer.

In [31]:
def get_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    cost = ((sqft_walls + sqft_ceiling)/sqft_per_gallon) * cost_per_gallon
    return cost

In [32]:
get_cost(432, 144, 400, 15)

21.599999999999998

#### Question 5

you can no longer buy fractions of a gallon. (For instance, if you need 4.3 gallons to do a project, then you have to buy 5 gallons of paint.)

With this new scenario, you will create a new function get_actual_cost that uses the same inputs and calculates the cost of your project.

One function that you'll need to use to do this is math.ceil(). We demonstrate usage of this function in the code cell below. It takes as a number as input and rounds the number up to the nearest integer.

In [35]:
import math

In [44]:
def get_actual_cost(sqft_walls, sqft_ceiling, sqft_per_gallon, cost_per_gallon):
    total_sqft = (sqft_walls + sqft_ceiling)
    total_gallon = math.ceil(total_sqft /sqft_per_gallon)
    cost = total_gallon * cost_per_gallon
    return cost

In [45]:
get_actual_cost(432, 144, 400, 15)

30

In [46]:
get_actual_cost(432, 144, 400, 15)

30

In [47]:
get_actual_cost(594, 288, 400, 15)

45

### Topic 3 : Data Types

Integers
- Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).

In [49]:
print(type(1))

<class 'int'>

Floats
- Floats are numbers with fractional parts. They can have many numbers after decimal

In [50]:
type(1.21)

float

In [51]:
print(type(1.21))

<class 'float'>

In [53]:
# round float numbers to decimal places
print(round(11.2344,2))
print(type(11.2344))

11.23
<class 'float'>

Booleans
- Booleans represent one of two values: True or False

In [54]:
tru = True
print(type(tru))

<class 'bool'>

In [56]:
tru = (1 < 3)
print(tru)
print(type(tru))

True
<class 'bool'>

In [59]:
# switch the value of boolean by using not
fls = not True
print(fls)
print(type(fls))
type(fls)

False
<class 'bool'>

bool

Strings
- The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks.

In [62]:
strg = 'hello, learning!'
print(strg)
print(type(strg))

hello, learning!
<class 'str'>

In [64]:
# getting the length of string with length function
print(len(strg))
len(strg)

16

16

In [66]:
# empty string with length 0
mt = ""
print(type(mt))
len(mt)

<class 'str'>

0

In [73]:
# conversion of astring to a float
num_string = "12.345"
print(num_string)
print(type(num_string))
num_float = float(num_string)
print(num_float)
print(type(num_float))

12.345
<class 'str'>
12.345
<class 'float'>

In [76]:
# adding two string or concat using '+'
string1 = "mercedes"
string2 = "benz"

string3 = string1 + string2
string3

'mercedesbenz'

In [77]:
# multiply using a string 
string1 = "mercedes"

string4 = string1 * 3
string4

'mercedesmercedesmercedes'

#### Question 1

In this question, you will build off your work from the previous exercise to write a function that estimates the value of a house.

Use the next code cell to create a function `get_expected_cost` that takes as input three variables:
- `beds` - number of bedrooms (data type float)
- `baths` - number of bathrooms (data type float)
- `has_basement` - whether or not the house has a basement (data type boolean)

It should return the expected cost of a house with those characteristics. Assume that:
- the expected cost for a house with 0 bedrooms and 0 bathrooms, and no basement is 80000, 
- each bedroom adds 30000 to the expected cost,
- each bathroom adds 10000 to the expected cost, and
- a basement adds 40000 to the expected cost.

For instance,
- a house with 1 bedroom, 1 bathroom, and no basement has an expected cost of 80000 + 30000 + 10000 = 120000.  This value will be calculated with `get_expected_cost(1, 1, False)`.
- a house with 2 bedrooms, 1 bathroom, and a basement has an expected cost of 80000 + 2*30000 + 10000 + 40000 = 190000.  This value will be calculated with `get_expected_cost(2, 1, True)`.

Remember you can always get a hint by uncommenting `q3.hint()` in the code cell following the next!

In [78]:
def get_expected_cost(beds,baths,has_basement):
    cost = 80000 + (beds * 30000) + (baths * 10000) + (has_basement * 40000)
    return cost

In [79]:
get_expected_cost(1,1,False)

120000

In [80]:
get_expected_cost(2,1,True)

190000

In [81]:
# boolean arithemetics
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

0
1
1
2
3

#### Question 2

You own an online shop where you sell rings with custom engravings.  You offer both gold plated and solid gold rings.
- Gold plated rings have a base cost of \\$50, and you charge \\$7 per engraved unit.  
- Solid gold rings have a base cost of \\$100, and you charge \\$10 per engraved unit.
- Spaces and punctuation are counted as engraved units.

Write a function `cost_of_project()` that takes two arguments:
- `engraving` - a Python string with the text of the engraving
- `solid_gold` - a Boolean that indicates whether the ring is solid gold

It should return the cost of the project.  This question should be fairly challenging, and you may need a hint.

In [87]:
def cost_of_project(solid_gold,engraving):
    cost = solid_gold * (100 + len(engraving) * 10 ) +  (not solid_gold) * (50 + len(engraving) * 7)
    return cost

In [89]:
cost_of_project(True, "Charlie+Denver")

240

In [90]:
cost_of_project(False, "08/10/2000")

120

### Topic 4 : Conditions and Conditional Statements

#### Conditions

In [93]:
# conditions either returns True or False

print(2 > 3)
print(1 < 2)

False
True

- var_one==1 checks if the value of var_one is 1
- var_one=1 sets the value of var_one to 1

#### Conditional Statements

##### "if" statements
The simplest type of conditional statement is an "if" statement. You can see an example of this in the evaluate_temp() function below. The function accepts a body temperature (in Celcius) as input.

Initially, message is set to "Normal temperature".
Then, 
- if temp > 38 is True (e.g., the body temperature is greater than 38°C), the message is updated to "Fever!". 
- Otherwise, if temp > 38 is False, then the message is not updated.

In [94]:
def evaluate_temp(temp):
    message = "Normal Temperature"
    if temp > 38:
        message = 'Fever!'
    return message

In [95]:
evaluate_temp(36)

'Normal Temperature'

In [96]:
evaluate_temp(40)

'Fever!'

##### "if ... else" statements
We can use "else" statements to run code if a statement is False.

In [99]:
def evaluate_tempp(temp):
    if temp > 38:
        message = 'Fever!'
    else:
        message = 'Normal Temperature'
    return message

In [101]:
evaluate_tempp(32)

'Normal Temperature'

#### "if ... elif ... else" statements
We can use "elif" (which is short for "else if") to check if multiple conditions might be true. 

- First checks if temp > 38. If this is true, then the message is set to "Fever!".
- As long as the message has not already been set, the function then checks if temp > 35. If this is true, then the message is set to "Normal temperature.".
- if still no message has been set, the "else" statement ensures that the message is set to "Low temperature." message is printed.

In [102]:
def evaluate_temppp(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = 'Normal Temperature'
    else:
        message = 'Low Temperature'
    return message

In [106]:
evaluate_temppp(20)

'Low Temperature'

### Topic 5 : Lists

To create a list, you need to use square brackets ([, ]) and separate each item with a comma.

In [112]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", 
                "sweet pea", "english marigold", "tiger lily", "moon orchid", 
                "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
type(flowers_list)

<class 'list'>

list

a list will make it easier to:
- get an item at a specified position (first, second, third, etc),
- check the number of items, and
- add and remove items.

In [123]:
## length
print(len(flowers_list))

## indexing - index start from 0
print("first element:",flowers_list[0])

## slicing
print("first three elements:", flowers_list[:3])
print("finall two entries:", flowers_list[-2:])

## remove an item from list
## using .remove method
#flowers_list.remove('monkshood')
print(flowers_list)

## adding items to a list
## using .append() method
#flowers_list.append('sun flower')
print(flowers_list)


## list can also have integers (not only strings)
num_list = [150, 128, 172, 139, 191, 168, 170]

## find min and max with 
print("min from the list:", min(num_list))
print("max from the list:", max(num_list))

## add every items from the list
print("sum of list elements:", sum(num_list))

10
first element: pink primrose
first three elements: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
finall two entries: ['globe thistle', 'sun flower']
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'globe thistle', 'sun flower']
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'globe thistle', 'sun flower']
min from the list: 128
max from the list: 191
sum of list elements: 1118

In [125]:
## split a string into list
## using split method
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

flowers.split(",")

['pink primrose',
 'hard-leaved pocket orchid',
 'canterbury bells',
 'sweet pea',
 'english marigold',
 'tiger lily',
 'moon orchid',
 'bird of paradise',
 'monkshood',
 'globe thistle']

In [126]:
## list comprehensions, allow you to create a list based on the values in another list

In [127]:
test_ratings = [1, 2, 3, 4, 5]

## use (test_ratings) to create a new list (test_liked) where each item has been turned into a boolean, 
## depending on whether or not the item is greater than or equal to four.
test_liked = [i>4 for i in test_ratings]
test_liked

[False, False, False, False, True]